{% extends 'blog/base.html' %}
{% load i18n %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock extracss %}

{% block content %}
<div class="container">
<div class="row">

    <!-- left start -->
    <div class="col-md-3 no-padding bg-light">
        <div class="jumbotron jumbotron-nomargin text-center">
        <!-- 作者信息 start -->
        <span class="head-pic-span margin-center margin-top">
            <img class="head-pic-priview" id="head_pic_priview" src="{{ article.author.head_portrait }}">
        </span>
        <span>
            <span class="text-black">{{ article.author.nick_name }}</span><br>
            {% if article.author != user %}
            <button id="follow" onclick="follow()" class="btn btn-secondary">{{ followed }}</button>
            {% endif %}
        </span>
        <!-- end -->
        <div class="dropdown-divider border-tint"></div>
        
        <div class="inline-dl">
            <dl>
                <dt>{% trans 'Blog' %}</dt>
                <dd>{{ article.author.articles }}</dd>
            </dl>
            <dl>
                <dt>{% trans 'Followers' %}</dt>
                <dd>{{ article.author.followers }}</dd>
            </dl>
            <dl>
                <dt>{% trans 'Following' %}</dt>
                <dd>{{ article.author.following }}</dd>
            </dl>
            <dl>
                <dt>{% trans 'Comments' %}</dt>
                <dd>{{ article.author.comments }}</dd>
            </dl>
        </div>

        <div class="dropdown-divider border-tint"></div>
        <!-- 文章列表 start -->
        <div class="text-left">
            <h6>{% trans 'The latest blog post' %}</h6>
            {% for essay in articles %}
            <a class="a-text a-hover" href="{% url 'blog:article_details' essay.id %}">{{ essay.title }}</a><br>
            {% endfor %}
            <a href="#">{% trans 'More' %}</a>
        </div>
        <!-- end -->
        </div>
    </div>
    <!-- left over -->


    <div class="col-md-9 bg-light">
        <!-- article title bar start -->
        <h3 class="margin-top">{{ article.title }}</h3>
        <div class="d-flex flex-row">
            <a class="a-hover p-2" href="#">{{ article.category }}</a>
            <span class="p-2">{{ article.created_time }}</span>
            {% for tag in article.tags|slice:':-1' %}
            <a class="a-hover p-2" href="#">{{ tag }}</a>
            <span class="p-2">/</span>
            {% endfor %}
            <a class="a-hover p-2" href="#">{{ article.tags|last }}</a>
            <a class="a-hover ml-auto p-2"><img class="icon-sm" src="{% static 'img/svg/eye.svg' %}"> {{ article.page_view }}</a>
            {% if user == article.author %}
            <a class="a-hover p-2" href="{% url 'blog:edit_article' article.id %}">
                <img src="{% static 'img/svg/edit.svg' %}" class="icon-sm">
                {% trans 'Edit' %}
            </a>
            <a class="a-hover p-2" href="#">
                <img src="{% static 'img/svg/delete.svg' %}" class="icon-sm">
                {% trans 'Delete' %}
            </a>
            {% endif %}
        </div>
        <div class="dropdown-divider"></div>
        <!-- article title bar over -->
        <div class="markdown-body">
            {{ article.body | safe }}
        </div>
        <br>
    </div>
</div>
</div>

<script>
    function follow(){
        console.log("follow");
        $.ajax({
                url: '{% url "blog:article_follow" %}',
                type: 'POST',
                data: {follow: {{ article.author.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json',
                success: function(data){
                    data.status && $('#follow').text(data.status)
                },
                error: function(data){
                    console.log('error');
                    layer_alert("{% trans 'Please login first!' %}");
                }
            });
    }
</script>


{% endblock content %}