{% extends 'blog/base.html' %}
{% load i18n %}
{% load static %}

{% block extracss %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/highlight.css' %}">
{% endblock extracss %}

{% block content %}
<div class="container">
<div class="row">
    <!-- left start -->
    <div class="col-md-2 no-padding">
        <div class="jumbotron detail-left extend-height"></div>
    </div>
    <!-- left over -->
    <div class="col-md-10 no-padding">
        <!-- article title bar start -->
        <div class="jumbotron jumbotron-nomargin bg-light">
            <h3 class="text-center">{{ article.title }}</h3>
            <dl class="list-articles">
                <dt>{{ article.created_time }}</dt>
            </dl>
        </div>
        <!-- article title bar over -->
        <div class="jumbotron jumbotron-nomargin">
            {{ article.body | safe }}
        </div>
    </div>
</div>
</div>
{% endblock content %}