{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="keywords" content="何野夫,个人博客,Django,python,bootstrap">
        <meta name="description" content="何野夫的个人博客,使用Django2.0.3+Python3.6.3+Bootstrap4编写">
        <title>何野夫</title>
        <link rel="shortcut icon" href="{% static 'img/heyefu.ico' %}">
        <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'layer/layer.js' %}"></script>
        {% block extracss %}{% endblock extracss %}
    </head>
    <body>
        <!-- navbar start -->
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <div class="container">
                <!-- navbar header start -->
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <a class="navbar-brand" href="{% url 'blog:index' %}">{% trans 'Myblog' %}</a>
                </div>
                <!-- navabar header over -->

                <!-- navbar content start -->
                <div id="navbar" class="collapse navbar-collapse justify-content-between">
                    <ul class="navbar-nav offset-md-4">
                        <!-- Search start -->
                        <li class="nav-item">
                            <form class="form-inline">
                            <small>
                            <input class="form-control mr-sm-2" type="search" placeholder="{% trans 'Search' %}" aria-label=Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans 'Search' %}</button>
                            </small>
                            </form>
                        </li>
                        <!-- end -->
                    </ul>
                    <ul class="navbar-nav">
                        

                        {% if user.is_authenticated %}
                        <!-- 登录后显示 -->
                        <li class="nav-item dropdown">
                            {% if user.head_portrait %}
                            <a class="navbar-brand dropdown-toggle" href="#" id="setting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="nav-head-image" src="{{ user.head_portrait }}"></a>
                            {% else %}
                            <a class="nav-link dropdown-toggle" href="#" id="setting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                            {% endif %}
                            <div class="dropdown-menu" aria-labelledby="setting">
                                <a class="dropdown-item hover-bg-primary" href="{% url 'blog:new_article' %}">{% trans 'New Blog' %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item hover-bg-primary" href="{% url 'users:head_pic' %}">{% trans 'setting' %}</a>
                                <!-- 语言切换开始　-->
                                <a class="dropdown-item dropdown-toggle hover-bg-primary" id="language" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{% trans 'language' %}</a>
                                <div class="dropdown-menu" aria-labelledby="language">
                                    {% for language in LANGUAGES %}
                                    <a class="dropdown-item hover-bg-primary" href="{% url 'blog:change_language' language.0 %}" next={{ request.path }}>{{ language.1 }}</a>
                                    {% endfor %}
                                </div>
                                <!-- 语言切换结束 -->
                                <a class="dropdown-item hover-bg-primary" href="{% url 'users:logout' %}">{% trans 'Sign out' %}</a>
                            </div>
                        </li>
                        {% else %}
                        <!-- 未登录显示 -->
                        <li><a class="nav-link" href="{% url 'users:register' %}" >{% trans 'Sign in' %}</a></li>
                        <li><a class="nav-link" href="{% url 'users:login' %}" >{% trans 'Sign up' %}</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="setting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'setting' %}</a>
                            <div class="dropdown-menu" aria-labelledby="setting">
                                <a class="dropdown-item dropdown-toggle" id="language" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{% trans 'language' %}</a>
                                <div class="dropdown-menu" aria-labelledby="language">
                                    {% for language in LANGUAGES %}
                                    <a class="dropdown-item hover-bg-primary" href="{% url 'blog:change_language' language.0 %}" next={{ request.path }}>{{ language.1 }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        
                    </ul>
                </div>
                <!-- navbar content over -->
            </div>
        </nav>
        <!-- navbar over -->
        </header>
        

        <main role="main">
                    {% block header %}{% endblock header %}
                    {% block content %}{% endblock content %}
        </main>
    </body>
</html>