{% load i18n %}
{% load static %}

<!doctype html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="keywords" content="何野夫,个人博客,Django,python,bootstrap">
        <meta name="description" content="何野夫的个人博客,使用Django2.0.3+Python3.6.3+Bootstrap4编写">
        <title>何野夫</title>
        <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/nav.css' %}">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- navbar header start -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapsed" data-target="#navbar" aria-expanded="false"></button>
                    <a class="navbar-brand" href="#">{% trans 'Myblog' %}</a>
                </div>
                <!-- navabar header over -->

                <!-- navbar content start -->
                <div id="navbar" class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="setting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'setting' %}</a>
                            <div class="dropdown-menu" aria-labelledby="setting">
                                <a class="dropdown-item dropdown-toggle" id="language" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{% trans 'language' %}</a>
                                <div class="dropdown-menu" aria-labelledby="language">
                                    {% for language in LANGUAGES %}
                                    <a class="dropdown-item" href="{% url 'blog:change_language' language.0 %}" next={{ request.path }}>{{ language.1 }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- navbar content over -->
            </div>
        </nav>
        <!-- navbar over -->

        <main role="main">
                    {% block header %}{% endblock header %}
                    {% block content %}{% endblock content %}
        </main>
    </body>
</html>