{% extends 'blog/base.html' %}
{% load i18n %}
{% load static %}

{% block extracss %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extracss %}

{% block content %}
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        {% for article in articles %}
            <div class="jumbotron jumbotron-articles">
                <h3><a href="{% url 'blog:article_details' article.id %}" class="a-text a-hover">{{ article.title }}</a></h3>
                <dl class="list-articles">
                    <dt><a class="a-hover" href="#">{{ article.category }}</a></dt>
                    <dt><a class="text-secondary a-hover" href="#">{{ article.author }}</a></dt>
                    <dt><a href="#" class="text-dark a-hover">{{ article.created_time }}</a></dt>
                </dl>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}