{% extends "blog/base.html" %}
{% load i18n %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% endblock extracss %}


{% block content %}
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="jumbotron col-md-8 small-padding">
            <!-- article title bar start -->
            <form action="{% url 'blog:new_article' %}" method='post'>
                {% csrf_token %}
                <!-- 文章标题 start -->
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="{% trans 'Article Title' %}" required id="id_title">
                </div>
                <!-- end -->

                <!-- 文章主体 start -->
                <div class="form-group">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="edit-article-tab" data-toggle="tab" href="#edit-article" role="tab" aria-controls="nav-edit-article" aria-selected="true">{% trans 'Edit new file' %}</a>
                        <a class="nav-item nav-link" onclick="preview()" id="preview-aritcle-tab" data-toggle="tab" href="#preview-aritcle" role="tab" aria-controls="preview-aritcle" aria-selected="false">{% trans 'Preview' %}</a>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="edit-article" role="tabpanel" aria-labelledby="edit-article-tab">
                            <textarea name="body" class="form-control" role='tabpanel' required aria-labelledby="home-tab" id="id_body" rows="20"></textarea>

                            <!-- 文章分类 -->
                            <div class="form-group row">
                                <label for="id_category" class="col-md-2 col-form-label text-center">{% trans 'Category' %} :</label>
                                <div class="col-md-2">
                                    <select name="category" class="form-control" required id="id_category">
                                        {% for category in categorys %}
                                            <option value="{{ category.id }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- end -->

                            <!-- 文章标签 -->
                            <div class="form-group row">
                                <label for="id_tags" class="col-md-2 col-form-label text-center">{% trans 'Tags' %} :</label>
                                <small id="tagsHelpBlock" class="form-text text-muted">
                                    {% trans 'Add 5 tags at most' %}
                                </small>
                            </div>
                            <!-- end -->
                      </div>
                      <div class="tab-pane fade" id="preview-aritcle" role="tabpanel" aria-labelledby="preview-aritcle-tab"><div class="markdown-body"></div></div>
                    </div>
                </div>
                <!-- end -->

                <button name='submit' class="col-md-1 btn btn-primary">{% trans 'Publish' %}</button>
                <!-- 文章作者 start -->
                <input type="hidden" name="author"  id="id_author" value="{{ user.id }}" />
                <!-- end -->
            </form>
        </div>
    </div>
    <script type="text/javascript">
        
        function preview(){
            var body = $('#id_body').val();
            $.ajax({
                url: '{% url "blog:preview_article" %}',
                type: 'POST',
                data: {article_body: body, csrfmiddlewaretoken: '{{ csrf_token }}',},
                dataType: 'json',
                success: function(data){
                    var preview = $('.markdown-body')
                    preview.text('');
                    preview.append(data.body);

                },
                error: function(data){
                    console.log('error');
                }
            });
        }
    </script>



{% endblock content %}